.DS_Store
CEERS_DR0.7_redshift_log.txt

*.pyc

nirspec4/comb-mgrat/*.fits
nirspec4/comb-mgrat/combination_plots/*.jpg
nirspec4/comb-mgrat/plots_2D+1D/*.jpg
nirspec4/g140m/*.fits
nirspec4/g140m/plots_2D+1D/*.jpg
nirspec4/g235m/*.fits
nirspec4/g235m/plots_2D+1D/*.jpg
nirspec4/g395m/*.fits
nirspec4/g395m/plots_2D+1D/*.jpg
nirspec4/prism/*.fits
nirspec4/prism/plots_2D+1D/*.jpg
nirspec4/*.csv



nirspec5/comb-mgrat/*.fits
nirspec5/comb-mgrat/combination_plots/*.jpg
nirspec5/comb-mgrat/plots_2D+1D/*.jpg
nirspec5/g140m/*.fits
nirspec5/g140m/plots_2D+1D/*.jpg
nirspec5/g235m/*.fits
nirspec5/g235m/plots_2D+1D/*.jpg
nirspec5/g395m/*.fits
nirspec5/g395m/plots_2D+1D/*.jpg
nirspec5/prism/*.fits
nirspec5/prism/plots_2D+1D/*.jpg
nirspec5/*.csv


nirspec7/*.fits
nirspec7/comb_Mgrat/*.fits
nirspec7/comb_Mgrat/plots_2D+1D/*.jpg
nirspec7/comb_Mgrat/combination_plots/*.jpg
nirspec7/g140m/*.fits
nirspec7/g140m/plots_2D+1D/*.jpg
nirspec7/g235m/*.fits
nirspec7/g235m/plots_2D+1D/*.jpg
nirspec7/g395m/*.fits
nirspec7/g395m/plots_2D+1D/*.jpg
nirspec7/prism/*.fits
nirspec7/prism/plots_2D+1D/*.jpg
nirspec7/*.csv


nirspec8/comb-mgrat/*.fits
nirspec8/comb-mgrat/plots_2D+1D/*.jpg
nirspec8/comb-mgrat/combination_plots/*.jpg
nirspec8/*.fits
nirspec8/g140m/*.fits
nirspec8/g140m/plots_2D+1D/*.jpg
nirspec8/g235m/*.fits
nirspec8/g235m/plots_2D+1D/*.jpg
nirspec8/g395m/*.fits
nirspec8/g395m/plots_2D+1D/*.jpg
nirspec8/prism/*.fits
nirspec8/prism/plots_2D+1D/*.jpg
nirspec8/*.csv


nirspec9/comb-mgrat/*.fits
nirspec9/comb-mgrat/combination_plots/*.jpg
nirspec9/comb-mgrat/plots_2D+1D/*.jpg
nirspec9/*.fits
nirspec9/g140m/*.fits
nirspec9/g140m/plots_2D+1D/*.jpg
nirspec9/g235m/*.fits
nirspec9/g235m/plots_2D+1D/*.jpg
nirspec9/g395m/*.fits
nirspec9/g395m/plots_2D+1D/*.jpg
nirspec9/prism/*.fits
nirspec9/prism/plots_2D+1D/*.jpg
nirspec9/*.csv


nirspec10/comb-mgrat/*.fits
nirspec10/comb-mgrat/combination_plots/*.jpg
nirspec10/comb-mgrat/plots_2D+1D/*.jpg
nirspec10/*.fits
nirspec10/g140m/*.fits
nirspec10/g140m/plots_2D+1D/*.jpg
nirspec10/g235m/*.fits
nirspec10/g235m/plots_2D+1D/*.jpg
nirspec10/g395m/*.fits
nirspec10/g395m/plots_2D+1D/*.jpg
nirspec10/prism/*.fits
nirspec10/*.csv

nirspec11/prism/plots_2D+1D/*.jpg
nirspec11/comb_mgrat/*.fits
nirspec11/*.fits
nirspec11/g140m/*.fits
nirspec11/g235m/*.fits
nirspec11/g395m/*.fits
nirspec11/prism/*.fits
nirspec11/*.csv


nirspec12/prism/plots_2D+1D/*.jpg
nirspec12/*.fits
nirspec12/g140m/*.fits
nirspec12/g235m/*.fits
nirspec12/g395m/*.fits
nirspec12/prism/*.fits
nirspec12/*.csv